---
layout: default
title: Archive
generator: [vods_tournament_index, pagination]
pagination:
    provider: page.tournament_vods
---
{% block title %}{{ page.title }} Vods from tournament: <em>{{ page.tournament }}</em>{% endblock %}
{% block content %}
    {% set year = '0' %}
    <h2>Posts with team: <em>{{ page.team }}</em></h2>
    {% for vod in page.pagination.items %}
        {% set this_year %}{{ vod.date | date("Y") }}{% endset %}
        {% if year != this_year %}
            {% set month = '0' %}
            {% set year = this_year %}
        {% endif %}
        {% set this_month %}{{ vod.date | date("F") }}{% endset %}
        {% if month != this_month %}
            {% set month = this_month %}
            <h3>{{ month }} {{ year }}</h3>
        {% endif %}
        <article class="drop-shadow-z-2">
            <div><a href="{{ site.url }}{{ vod.url }}">{{ vod.title }}</a></div>
        </article>
    {% endfor %}

{% endblock content %}
